@model IEnumerable<CarRent.Models.TypeOfService>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fairrepair-to"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 mt-3" style="margin-bottom: 4rem">
        <table class="table table-responsive">
            <thead class="">
                <tr>
                    <th>Lp</th>
                    <th>Nazwa usługi</th>
                    <th>Koszt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@service.Id</td>
                        <td>@service.Name</td>
                        <td>@service.Cost zł</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>