@model IEnumerable<CarRent.Models.TypeOfService>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oferta</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa usługi</th>
            <th>Koszt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Id</td>
                <td>@service.Name</td>
                <td>@service.Cost</td>
            </tr>
        }
    </tbody>
</table>