@model CarRent.Models.Rent

@{
    ViewData["Title"] = "RentCar";
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <h2>Wypożycz samochód zastępczy</h2>
    </div>
</div>

<form method="post" asp-controller="Services" asp-action="RentCar">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label asp-for="CustomerId"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfCustomers, "Id", "Surname"))"></select>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ReplacementCarId"></label>
                <select asp-for="ReplacementCarId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfReplacementCars, "Id", "RegistrationNumber"))"></select>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="DateFrom"></label>
                <input class="form-control" asp-for="DateFrom" required />
                @*<span asp-validation-for="Surname" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="DateTo"></label>
                <input class="form-control" asp-for="DateTo" required />
                @*<span asp-validation-for="Address" class="text-danger"></span>*@
            </div>
        </div>
    </div>

    <div class="row" style="text-align: center;">
        <div class="col-md-2 col-md-offset-5">
            <input type="submit" value="Wypożycz" class="btn btn-primary" style="font-size: 20px; margin-right: 15px;" />
            <input type="button" value="Anuluj" class="btn btn-primary" style="font-size: 20px" onClick="history.go(-1); return false;" />
        </div>
    </div>
</form>

