@{
    ViewData["Title"] = "About";
}

<div class="fairrepair-to"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-3" style="margin-bottom: 4rem">
            <span>Od 1991 roku jesteśmy wiodącym serwisem blacharsko-lakierniczym w regionie północno-wschodnim. Dysponujemy najnowocześniejszym sprzętem jaki jest obecnie wykorzystywany w autoryzowanych serwisach samochodowych w całej Europie. Posiadamy bogaty park maszynowy: nowoczesne kabiny lakiernicze, strefy przygotowania, ramy do naprawy nadwozi, urządzenia pomiarowe oraz wysokiej klasy zgrzewarki. Specjalistyczny, nowoczesny sprzęt oraz wykwalifikowana kadra gwarantują najwyższy standard napraw. </span>
            <hr />
            <span>Dlaczego warto wybrać serwis FairRepair?</span>
            <ul class="mt-1">
                <li>Serwis FairRepair działa od ponad 20lat. Zadowolenie klientów osiągnęliśmy doskonałą jakością usług,</li>
                <li>Jesteśmy ekspertami w zakresie napraw samochodów powypadkowych,</li>
                <li>Serwis FairRepair uznawany jest przez wszystkich ubezpieczycieli,</li>
                <li>Dbamy o wszystko: od transportu uszkodzonego auta z miejsca kolizji, poprzez rozliczenia bezgotówkowe z firmami ubezpieczeniowymi, zapewniamy mobilność naszym Klientom poprzez samochody zastępcze i oczywiście naprawione auto oddajemy w nienagannej czystości,</li>
                <li>Serwis FairRepair udziela gwarancji na wykonywane przez siebie prace.</li>
            </ul>
        </div>
    </div>