@{
    ViewData["Title"] = "Contact";
}

<div class="fairrepair-to"></div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 mt-3" style="margin-bottom: 4rem; font-size: 28px; text-align:center">
        <address>
            <strong>Firma FairRepair</strong> <br />
            ul. Diamentowa 5 <br />
            20-447 Lublin <br /><br />
            tel. +48 81 441 75 29 <br />
            kom. +48 666 190 720 <br /><br />
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a> <br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> <br /><br />
            Godziny otwarcia: pn-pt 8:00 - 16:00
        </address>
    </div>
</div>
