
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fairrepair-to"></div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 mt-3" style="margin-bottom: 4rem">

    </div>
</div>
