
@{
    ViewData["Title"] = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fairrepair-to"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mt-3" style="margin-bottom: 4rem">
            <h2><b>Naprawy blacharsko-lakiernicze</b></h2>
            <hr />
            <div>
                Naprawy wykonujemy zgodnie z zalecaną przez producentów technologią. Stosujemy najwyższej jakości lakiery, podkłady oraz zabezpieczenia antykorozyjne. Szczegółowe informacje na temat naszego warsztatu znajdą Państwo w dziale O Nas.
            </div>
            <br />
            <h2 class="mt-1"><b>Flota samochodów zastępczych</b></h2>
            <hr />
            <div>
                Naszym Klientom zapewniamy samochody zastępcze: osobowe, osobowe z segmentu premium, dostawcze oraz terenowe. Dzięki temu nasi Klienci zachowują mobilność dla siebie i swojej firmy.
            </div>
            <br />
            <h2 class="mt-1"><b>Obsługa flotowa firm</b></h2>
            <hr />
            <div>
                W serwisie FairRepair oferujemy flotową obsługę firm. W ramach współpracy oferujemy specjalne programy serwisowe. Klientom naszych usług flotowych gwarantujemy:
            </div> <br />
            <div>
                <ul>
                    <li>indywidualne warunki finansowe, dopasowane do potrzeb każdego klienta,</li>
                    <li>usługi serwisowe (pakiety serwisowe, faktury zbiorcze, rozszerzone gwarancje),</li>
                    <li>rzetelne podejście oraz profesjonalną obsługę klienta,  </li>
                    <li>samochód zastępczy na czas naprawy, </li>
                    <li>upust na części użyte do napraw,</li>
                    <li>wynajem długo i krótkoterminowy samochodów. </li>
                </ul>
            </div>
            <br />
            <h2 class="mt-1"><b>Likwidacja szkód komunikacyjnych</b></h2>
            <hr />
            <div>
                Oferujemy kompleksowe naprawy blacharsko-lakiernicze aut powypadkowych wszystkich marek. Prowadzimy rozliczenia bezgotówkowe ze wszystkimi możliwymi Towarzystwami Ubezpieczeniowymi.
            </div>
        </div>
    </div>
