@model CarRent.Models.Worker

@{
    ViewData["Title"] = "EditWorker";
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <h2>Edytuj pracownika</h2>
    </div>

</div>
<hr />
<form method="post" asp-controller="Worker" asp-action="EditWorker">
    <div class="row">
        <div>
            <div class="col-md-2 col-md-offset-4">
                
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" placeholder="Imię" required />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input class="form-control" asp-for="Surname" placeholder="Nazwisko" required />
                    @*<span asp-validation-for="Surname" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="PostCode"></label>
                    <input class="form-control" asp-for="PostCode" placeholder="11-111" required />
                    @*<span asp-validation-for="GarageId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="JobId"></label>
                    <select asp-for="JobId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfJobs, "Id", "JobName"))"></select>
                    @*<span asp-validation-for="GarageId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="GarageId"></label>
                    <select asp-for="GarageId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfGarages, "Id", "Name"))"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input class="form-control" asp-for="Address" placeholder="Adres" required />
                    @*<span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input class="form-control" asp-for="City" placeholder="Warszawa" required />
                    @*<span asp-validation-for="GarageId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber" placeholder="000 000 000" required />
                    @*<span asp-validation-for="GarageId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="BossId"></label>
                    <select asp-for="BossId" class="form-control" asp-items="@(new SelectList(ViewBag.ListOfBosses, "Id", "FullName"))"></select>
                    @*<span asp-validation-for="GarageId" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Id"></label>
                    <input class="form-control" asp-for="Id" readonly />
                    @*<span asp-validation-for="Name" class="text-danger"></span>*@
                </div>
            </div>
        </div>      
    </div>

    <br />
    <br />
    <div class="row" style="text-align: center;">
        <div class="col-md-2 col-md-offset-5">
            <input type="submit" value="Zapisz" class="btn btn-primary" style="font-size: 20px; margin-right: 15px;" />
            <input type="button" value="Anuluj" class="btn btn-primary" style="font-size: 20px" onclick="window.location='@Url.Action("Index", "Worker")'" />
        </div>
    </div>
</form>

