@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4 mt-3">
        <h1 class="ta-center">Zapomniałeś hasła?</h1>
        <h3 class="ta-center">Wpisz swój email</h3>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="row mt-4 mb-5">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-primary" style="width: 200px; font-size: 20px;">Zatwierdź</button>
                </div>
            </div>

        </form>
    </div>
</div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
