@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 mt-3 mb-5">
        <h1 class="ta-center">Zapomniałeś hasła?</h1>
        <h3 class="ta-center">Sprawdź swój email żeby zresetować hasło</h3>
    </div>
</div>
