@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 mt-3">
        <h1 class="ta-center">Zaloguj</h1>
        <hr />
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Hasło</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                     <label asp-for="Input.RememberMe" style="font-size:20px">
                         <input asp-for="Input.RememberMe" />
                         Zapamiętaj mnie
                     </label>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="width: 200px; font-size: 20px;">Zaloguj się</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword" style="color: yellow; text-decoration: none">Zapomniałeś hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" style="color: yellow; text-decoration: none">Zarejestruj się</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
