@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 mt-3">
        <h1 class="ta-center">Rejestracja</h1>
        <h3 class="ta-center">Stwórz nowe konto</h3>
        <hr />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Hasło</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Potwierdź hasło</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="row mt-4 mb-1">
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-primary" style="width: 200px; font-size: 20px;">Zarejestruj się</button>
                </div>
            </div>

            <div class="form-group">
                <p>
                    <a asp-area="Identity" asp-page="/Account/Login" style="color: yellow; text-decoration: none">Zaloguj się</a>
                </p>
            </div>
        </form>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
