
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h2><b>Panel administratora</b></h2>
    </div>  
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center">

        <h3>Pracownicy</h3>
        <p><a asp-controller="Worker" asp-action="AddWorker">Dodaj pracownika</a></p>
        <p><a asp-controller="Worker" asp-action="Index">Wszyscy pracownicy</a></p>
    </div>
</div>


